.homeContainer{
    width: 90%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: rgb(193, 216, 236);
}
.homeContainer>div:nth-child(1){
    font-size: 30px;
    padding: 40px;
}
.homeContainer>div>img{
    width: 350px;
    height: 350px;
    border-radius: 100px;
}


@media all and (min-width: 200px) and (max-width: 1000px){
.homeContainer{
    flex-direction: column;
}
.homeContainer>div:nth-child(1){
    text-align: justify;
}
}

@media all and (min-width: 50px) and (max-width: 200px){
    .homeContainer{
        flex-direction: column;
    }
    .homeContainer>div:nth-child(1)>h3{
        text-align: justify;
        font-size: 20px;
    }
}