.navbarContainer{
    width: 100%;
    margin: auto;
    padding: 30px;
    display:flex ;
    justify-content: space-between;
    position: fixed;
    background-color: #3a3a3b;
    height: 50px;
}
.navbarContainer>div:nth-child(2){
    display: flex;
    gap: 40px;
    font-size: 24px;
    color: rgb(193, 216, 236);
}
.navbarContainer>div>h1{
    font-size: 40px;
}

@media all and (min-width: 100px) and (max-width: 1000px){
    .navbarContainer>div:nth-child(2){
        display: none;
    }
}